body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: #575757;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

form {
    padding: 50px;
}

form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9a4a4;
    border-radius: 5px;
}

form button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

form button[type="submit"]:hover {
    background-color: #575757;
}


footer {
    background-color: #ebc9c9;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}



.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-box {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    max-width: 30%;
}

.service-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.service-box h3 {
    margin: 10px 0;
    color: #333;
}

.service-box p {
    color: #666;
}